<div class="container">
  <h1 class="h1 text-center">Your list of games</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-game">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
             placeholder="Pick up a game from your collection">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Released</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of $games | async | filter:searchText">
        <td>{{game.name}}</td>
        <td><img class="search-game-image" src="{{game.background_image}}" alt="" [ngbTooltip]="tooltipImage" tooltipClass="image-tooltip-class"></td>
        <ng-template #tooltipImage><img class="search-game-image-big" src="{{game.background_image}}" alt=""></ng-template>
        <td>{{game.released}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
