.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1c8adb;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}


.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  width: 400px;
}
