<div class="container">
  <h1 class="h1 text-center">Search for a game</h1>
</div>
<div class="container">
  <div class="row">
    <div class="search-game">
        <div class="search-game-input">
          <input [formControl]="searchText" class="form-control" type="text" name="search" autocomplete="off"
                 placeholder="Download game list">
        </div>
        <div class="search-game-button">
          <button type="submit" class="search-button" (click)="searchForGames()" [disabled]="!searchText.valid">Search</button>
        </div>
        <div class="search-game-list">
          <select class="search-select" [formControl]="select">
            <option *ngFor="let option of selectOptions; let i = index" value="{{option}}" [selected]="option === 'PC'">{{option}}</option>
          </select>
        </div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Released</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games">
        <td>{{game.name}}</td>
        <td>{{game.released}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
